// import de variables
@import "../utilidades/variables";
// import de mixin
@import "../utilidades/mixins";


/* Estilos para el footer */
footer .datos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: $crins;
    padding: 20px;
    color: $back;
    .ensayos p{
        padding-top: 0.9375rem;
        font-weight: bold;
        font-size: 1.875rem;
    }
    .direccion ul{
        list-style: none;
        text-align: center;
        line-height: 1.5;
        padding-top: 0.9375rem;
    }
    .telefonos p{
        @include flex-column;
        justify-content: center;
        text-align: center;
        height: 3.5vh;
        gap: 0.125rem;
        i{
            color: $iconos;
        }
    }
}
:root footer .copyright p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }